*{
	padding: 10;
	margin: 0;
	box-sizing: border-box;
	background: #f0e7e7;
	}
h2{
	font-size: 40px;
}
table{
	letter-spacing: 1.2px;
	color: rgb(143, 62, 62);}

td{
	text-align: center;
	vertical-align: middle;
}
button{
	border:none;
	background: #000000;
    transition: 1s;
}



@media only screen and (orientation: portrait){
	*{
		letter-spacing: 1px;
	}
}